## XP Points Challenge 2
CS 133  
Spring 2025  
v1.0

A message has been encoded in the dataset. Your taks is to complete the operations on the dataset to discover the hidden message.

1. Load the datset `xp-2.csv` into a dataframe and inspect it.

In [40]:
import pandas as pd
df = pd.read_csv("xp-2.csv")
df_mismatch = df[
    ((df["age"] > 50) & (df["online"] > 100) & (df["model"] != "boomer")) |
    ((df["age"] <= 50) | (df["online"] <= 100)) & (df["model"] != "gamer")
]
print(df_mismatch)

Empty DataFrame
Columns: [Unnamed: 0, id, username, gender, age, country, ip, online, model]
Index: []

There are some features of Pandas that we haven't gone over that could be useful for this problem and you may want to look them up:
1. The `DataFrame.where()` method
2. The `sum()` method
3. The `apply()` method
4. Converting a Numpy array into a string using `.str.cat()`

2. Create a new feature named `model` based on the age of the individual and the number of minutes spent online. If the individual is older than 50 and spends more than 100 minutes online assign them the value of `boomer`, otherwise they should be classified as `gamer`.

In [29]:
def BorG(dataframe):
    if dataframe["age"] >50 and dataframe["online"] > 100:
        return "boomer"
    else:
        return "gamer"

#df["model"] = df.apply(BorG, axis = 1)
#df

,Unnamed: 0,id,username,gender,age,country,ip,online,model
0,0,01JMTV0RD07H2C0SYJEHCF0EEG,Lotlux,M,40,China,246.220.74.249,188,gamer
1,1,01JMTV0RD1KT7R9ED50SPYYJ9F,Solarbreeze,F,96,Oman,206.39.45.156,893,boomer
2,2,01JMTV0RD22T0A497N6JW1WA2P,Flexidy,M,80,Qatar,252.181.153.6,979,boomer
3,3,01JMTV0RD2J6NZQW6QZG5TZA4A,Voltsillam,M,108,Portugal,210.230.146.108,199,boomer
4,4,01JMTV0RD3P25R4YKK8AGE8WJM,Vagram,F,90,Argentina,94.160.4.110,812,boomer
...,...,...,...,...,...,...,...,...,...
995,995,01JMTV0S31PKMA5NAGMJ0M37A5,Stronghold,M,84,Indonesia,251.29.79.115,875,boomer
996,996,01JMTV0S32P8J391FHCWZMJFNF,Prodder,F,47,Philippines,236.88.247.159,456,gamer
997,997,01JMTV0S32QVX88ADFF42ECK2Q,Sonsing,M,72,China,218.76.5.199,334,boomer
998,998,01JMTV0S3377B457TBTWSVB8GH,Bytecard,F,88,Afghanistan,210.107.44.142,433,boomer
999,999,01JMTV0S34YSJXJ7B34RQKG6NH,Prodder,F,15,Bangladesh,169.41.21.53,488,gamer

3. To receive credit for this assignment you must create a single statement that performs all of the operations described below to uncover the hidden message. You may want to try doing the operations separately until you solve it but you must figure out a way to do it as a single statement.

   1. Group the dataframe by  `model` then `gender` then `country`
   2. Find the sum of the `online` column in each group
   3. Find the modulus of the sum and 123 in each group
   4. For each value use the Python `chr()` function to convert it to a printable character
   5. Convert the first 71 characters into a string and display it

In [49]:
len(df)

1000