## CS233 - Homework 2 (100 points in total)

### 1. String split (20 points)
### Tasks
1. split val (5 pts)
2. remove surrounding white spaces (5 pts)
3. convert all to lowercase and connect them with " | " (10 pts)

In [1]:
val = "  Alice ,  Bob,Carol  , dave  "
# 1) split
split = val.split(",")
display(split)
# expected output: ['  Alice ', '  Bob', 'Carol  ', ' dave  ']

# 2) remove surrounding white spaces
whitespace = [w.strip() for w in split]
display(whitespace)
# expected output: # ['Alice', 'Bob', 'Carol', 'dave']

# 3) lowercase + join with " | "
lower_joined = " | ".join([c.lower() for c in whitespace])
display(lower_joined)
# expected output: 'alice | bob | carol | dave'

['  Alice ', '  Bob', 'Carol  ', ' dave  ']

['Alice', 'Bob', 'Carol', 'dave']

'alice | bob | carol | dave'

### 2. Processing Large Datasets with `chunksize` (20 points)

You are given a CSV file, named `large_sales.csv` containing sales transaction data with the following columns:

- `transaction_id`  
- `customer_id`  
- `product_id`  
- `quantity`  
- `price`  

Because the file is too large to fit in memory all at once, you need to process it in **chunks**.  

---

### Tasks

1. Write Python code that reads this file in chunks of 100,000. (5 pts)
2. For each chunk, compute the total sales revenue, and keep a running total across all chunks. (10 pts)
   ```python
   revenue = quantity * price
3. Print the overall total revenue. (5 pts)

In [2]:
import pandas as pd

chunker = pd.read_csv("large_sales.csv", chunksize=100_000)
total_revenue = 0

for chunk in chunker:
    chunk_revenue = (chunk["quantity"] * chunk["price"]).sum()
    total_revenue += chunk_revenue

print(f"Total revenue: ${total_revenue:,.2f}")

Total revenue: $262,633,491.66

### 3. Working with Other Delimited Formats (20 pts)

You are given a text file named employees.txt that contains employee records separated by the | (pipe) character.

### Tasks

1. Load this file into a pandas DataFrame using pd.read_csv with the appropriate sep argument.

2. Display the first 3 rows of the DataFrame. (5 pts)

3. Compute the average salary of all employees. (5 pts)

4. Find the highest-paid employee and print their name and salary. (5 pts)

5.  Save only the employees in the Engineering department into a new tab-delimited file named engineering_employees.txt.

6. Load your generated .txt file using the provided code below. (#5 and #6, 5 pts in total)

In [3]:
import pandas as pd

# 1. Load the file using | as the delimiter
df = pd.read_csv("employees.txt", sep="|")

# 2. Display first 3 rows
print("First 3 rows:")
print(df.head(3))

# 3. Compute average salary
mean_salary = df["salary"].mean()
print("\nAverage salary:", mean_salary)

# 4. Highest-paid employee
top_paid = df.sort_values("salary", ascending=False).iloc[0]
print("\nHighest-paid employee:", top_paid["name"],top_paid["salary"],"\n")

# 5. Save Engineering employees to tab-delimited file
eng_df = df[df["department"] == "Engineering"]
eng_df.to_csv("eng_employees.txt", sep="\t")

# 6 load your generated .txt from step 5
check_df = pd.read_csv("eng_employees.txt", sep="\t")
print("Engineering Employees:\n")
print(check_df)

First 3 rows:
   employee_id          name department  salary
0          101     Grace Kim      Sales  104886
1          102   Steve Davis    Finance   94131
2          103  Helen Miller    Finance  117221

Average salary: 84731.2

Highest-paid employee: Frank Kim 119163

Engineering Employees:

    Unnamed: 0  employee_id          name   department  salary
0            5          106   Leo Johnson  Engineering   75658
1           22          123  Mona Johnson  Engineering   90774
2           23          124    Ian Miller  Engineering  117563
3           30          131     Nina Wong  Engineering   56910
4           33          134     Mona Wong  Engineering  104268
5           40          141     Grace Lee  Engineering   80080
6           41          142    Tina Brown  Engineering   59474
7           45          146       Ian Kim  Engineering  101005
8           48          149   Eva Johnson  Engineering   76736
9           50          151    Eva Miller  Engineering  105680
10          56          157   Paul Miller  Engineering   92107
11          64          165  Quincy Smith  Engineering   70932
12          84          185     Cathy Kim  Engineering  115726
13          90          191     Bob Smith  Engineering   77751

### 4. Working with HTML Data (20 pts)

You are given an HTML file named **`products.html`** that contains a simple table of product information:

##### Tasks

1. load the HTML table into a DataFrame. 

2. display the DataFrame. (5 pts)

3. Compute the average product price. (5 pts)

4. Save only the products in the Electronics category into a new CSV file. (5 pts)

5. Reload your new csv file and print it here. (5 pts)

In [4]:
import pandas as pd

#1
df = pd.read_html("products.html")
#print(len(df))
product = df[0]

#2
print(product, "\n")

#3
print("Average product price: ", product["price"].mean(), "\n")

#4
electronics = product[product["category"] == "Electronics"]
electronics.to_csv("electronic_products.csv", index=False)

#5
check_df = pd.read_csv("electronic_products.csv")
print(check_df)

   product_id           name     category  price
0         101         Laptop  Electronics   1200
1         102     Desk Chair    Furniture    250
2         103   Water Bottle       Sports     30
3         104     Headphones  Electronics    150
4         105  Standing Desk    Furniture    690
5         106         Webcam  Electronics     90

Average product price:  401.6666666666667

   product_id        name     category  price
0         101      Laptop  Electronics   1200
1         104  Headphones  Electronics    150
2         106      Webcam  Electronics     90

### 5. Binning Continuous Data (20 pts)

Binning is a useful technique when you want to group continuous values into discrete intervals.  
In this exercise, you’ll practice using `pd.cut` and `pd.qcut` with a dataset of exam scores.

---

## Dataset

You are given a CSV file named **`exam_scores.csv`**.

There are 100 students with scores ranging between 40 and 100.  

---

## Tasks

1. Load the dataset into a pandas DataFrame.
2. Use `pd.cut` to bin the scores into 4 equal-width intervals:   (5 pts)
   - `40–55` (Poor)  
   - `55–70` (Average)  
   - `70–85` (Good)  
   - `85–100` (Excellent)  
   Add a new column `category` with these labels.  

3. Count how many students fall into each category.  (5 pts)

4. Use `pd.qcut` to divide the scores into **quartiles (4 groups with equal number of students)**. Add a new column `quartile`. Display the first 10 rows in the new dataframe. (5 pts)

In [5]:
# 1) Load the dataset
df = pd.read_csv("exam_scores.csv")
#display(df)

#2) Fixed-width bins with pd.cut
bins = [40, 55, 70, 85, 100]
score_category = ["Poor", "Average", "Good", "Excellent"]

df["category"] = pd.cut(df["score"], bins=bins, labels=score_category)
#display(df)

# 3) Count students per category
cut_counts = df["category"].value_counts().sort_index()
print("Counts per fixed-width bin (pd.cut):")
print(cut_counts, "\n")

# 4) Quantile-based bins with pd.qcut (quartiles)
df["quartile"] = pd.qcut(df["score"], q=4, labels=["Q1", "Q2", "Q3", "Q4"])
qcut_counts = df["quartile"].value_counts().sort_index()
print("Counts per quantile bin (pd.qcut):")
print(qcut_counts, "\n")

# Display the first 10 rows in the new dataf rame.
display(df.head(10))

Counts per fixed-width bin (pd.cut):
category
Poor         22
Average      27
Good         23
Excellent    28
Name: count, dtype: int64

Counts per quantile bin (pd.qcut):
quartile
Q1    26
Q2    24
Q3    26
Q4    24
Name: count, dtype: int64

   student_id  score   category quartile
0           1     45       Poor       Q1
1           2     87  Excellent       Q4
2           3     79       Good       Q3
3           4     66    Average       Q2
4           5     66    Average       Q2
5           6     92  Excellent       Q4
6           7     45       Poor       Q1
7           8     82       Good       Q3
8           9     52       Poor       Q1
9          10     45       Poor       Q1

5. Compare the results of `pd.cut` (fixed-width bins) vs `pd.qcut` (quantile-based bins). (5 pts) 
   - Which method gives **evenly distributed counts** across groups?  
   - Which method better preserves the interpretation of “score range”?

Type your answer below:

`pd.qcut`evenly distrbutes counts across groups, in our case I think there was no way to perfectly do so based on the values given as we have 26 and 24 in our bins.

`pd.cut` is a better interpretation of score range as the ranges because we knew what bins we wanted to put our data into. Reading these bins is far more indicative of the distribution of scores.