In [ ]:
tup = (4, 5, 6)

In [ ]:
tup = 4, 5, 6
tup

In [ ]:
print(type(tup))
print(isinstance(tup, tuple))

You can convert any sequence or iterator to a tuple by invoking tuple.

In [ ]:
print(tuple([4, 0, 2]))
tup = tuple('string')
tup

In [ ]:
tup[0]

Nested tuples.

In [ ]:
nested_tup = (4, 5, 6), (7, 8)
print(nested_tup)
#nested_tup[0]
nested_tup[1]

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup[1].append(5)
print(tup[1])
#tup[2] = False
print(tup)

In [ ]:
tup[1].append(3)
tup

You can concatenate tuples using the + operator to produce longer tuples.

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

In [ ]:
('foo', 'bar') * 4

Unpacking tuples

In [ ]:
tup = (4, 5, 6)
a, b, c = tup
b

In [ ]:
tup = 4, 5, (6, 7)
#a, b, (c, d) = tup
a, b, c = tup
print(c)

Using this functionality you can easily swap variable names, a task that in many languages might look like:

In [ ]:
tmp = a
a = b
b = tmp

In [ ]:
a, b = 1, 2
a
b
b, a = a, b
a
b

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

In [ ]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
rest

In [ ]:
a, b, *_ = values

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

List: lists are mutable

In [ ]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list
b_list[1] = "peekaboo"
b_list

In [ ]:
gen = range(10)
gen
list(gen)

In [ ]:
b_list.append("dwarf")
b_list

In [ ]:
b_list.insert(1, "red")
b_list

In [ ]:
b_list.pop(2)
b_list

In [ ]:
b_list.append("foo")
b_list
b_list.remove("foo")
b_list

In [ ]:
"dwarf" in b_list

In [ ]:
"dwarf" not in b_list

In [ ]:
[4, None, "foo"] + [7, 8, (2, 3)]

In [ ]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

sort has a few options that will occasionally come in handy. One is the ability to pass a secondary sort key—that is, a function that produces a value to use to sort the objects. For example, we could sort a collection of strings by their lengths:

In [ ]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

In [ ]:
seq[3:5] = [6, 3]
seq

In [ ]:
seq[:5]
seq[3:]

In [ ]:
seq

In [ ]:
seq[-4:]
#seq[-6:-2]

In [ ]:
seq[::2]

In [ ]:
seq[::-1]

 A dictionary stores a collection of key-value pairs, where key and value are Python objects.

a hashmap is a data structure that stores data as key-value pairs and allows efficient retrieval of values using their associated keys.

In [ ]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
d1[7] = "an integer"
d1
# d1[0] # don't do this.

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [ ]:
# "b" in d1
"some value" in d1.values() # we can use this to check if something is in the values.

True

Can we delete the key-value pair by its value?

In [ ]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
# d1[5] = "some value"
# d1
# d1["dummy"] = "another value"
# d1
del d1[5]
# d1
# ret = d1.pop("dummy")
# print(ret)
# d1

In [ ]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'dummy': 'another value'}

In [ ]:
list(d1.keys())
list(d1.values())

['some value', [1, 2, 3, 4], 'another value']

In [ ]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), ('dummy', 'another value')]

You can merge one dictionary into another using the update method. The update method changes dictionaries in place, so any existing keys in the data passed to update will have their old values discarded.

In [ ]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 'dummy': 'another value', 'c': 12}

reversed(range(5)): 4,3,2,1,0

for this case, you have to use the same number of elements for both ranges.

In [ ]:
tuples = zip(range(5), reversed(range(5)))
tuples
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

Suppose you want to group words by their first letter.
You need to check if the letter already exists in the dictionary:

In [ ]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

Instead of writing the if/else, setdefault handles the “create key if missing” step.
What happens:

	•	If letter is not in the dict → insert letter: [], then append.  
	•	If letter already exists → just append.

Same result, shorter code:

In [ ]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

 The best tool: defaultdict

Even cleaner is collections.defaultdict.
Here, defaultdict(list) means:
if a key doesn’t exist, automatically create it with an empty list [].

Result is the same, but the code is shortest and most Pythonic:

In [ ]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

Valid dictionary key types:

the keys generally have to
be immutable objects like scalar types (int, float, string) or tuples (all the objects in
the tuple need to be immutable, too)

In [ ]:
hash("string")
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

A set is an unordered collection of unique elements. A set can be created in two ways: via the set function or via a set literal with curly braces:

In [ ]:
set([2, 2, 2, 1, 3, 3])
aset = {2, 3, 3, 2, 2, 2, 1, 3, 3}
print(aset)

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

The union of these two sets is the set of distinct elements occurring in either set. This can be computed with either the union method or the | binary operator:

In [ ]:
a.union(b)
a | b

The intersection contains the elements occurring in both sets. The & operator or the intersection method can be used:

In [ ]:
a.intersection(b)
a & b

In [ ]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

In [ ]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [ ]:
{1, 2, 3} == {3, 2, 1}

In [ ]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

In [ ]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

In [ ]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

In [ ]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

In [ ]:
list(reversed(range(10)))

In [ ]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

In [ ]:
set(map(len, strings))

In [ ]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

In [ ]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [ ]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

In [ ]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

In [ ]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [ ]:
[[x for x in tup] for tup in some_tuples]

Functions

In [ ]:
def my_function(x, y):
    return x + y

In [ ]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [ ]:
def function_without_return(x):
    print(x)

function_without_return("hello!")

hello!

Functions, default value

In [ ]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

The main restriction on function arguments is that the keyword arguments must follow the positional arguments (if any). You can specify keyword arguments in any order. This frees you from having to remember the order in which the function arguments were specified. You need to remember only what their names are.

In [ ]:
#my_function2(5, 6, z=0.7)
my_function2(y=3.14, z=7, x=3.5)
#my_function2(10)

46.480000000000004

Namespaces, Scope, and Local Functions

 Any variables that are assigned within a function by default are assigned to the local namespace.

In [ ]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [ ]:
func()
a
func()
a

[0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4]

I generally discourage use of the global keyword. Typically, global variables are used to store some kind of state in a system. If you find yourself using a lot of them, it may indicate a need for object-oriented programming (using classes).

In [ ]:
#a = None
def bind_a_variable():
    global a
    a = 6
bind_a_variable()
print(a)

Anonymous (Lambda) Functions

In [ ]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [ ]:
def apply_to_list(some_list, f): # f is a function
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [ ]:
strings = ["foo", "card", "bar", "aaaa", "abab", ]

In [ ]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [ ]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict: # for key in some_dict.keys():
    print(key)

a
b
c

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator

In [ ]:
list(dict_iterator)

['a', 'b', 'c']

Generator

In [ ]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2 # you can't use "return" here if you want to make it a generator.

In [ ]:
gen = squares()
gen

In [ ]:
for x in squares():
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

Another way to make a generator is by using a generator expression. This is a generator analogue to list, dictionary, and set comprehensions. To create one, enclose what would otherwise be a list comprehension within parentheses instead of brackets

In [ ]:
gen = (x ** 2 for x in range(100))
gen

In [ ]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

The standard library itertools module has a collection of generators for many common data algorithms. For example, groupby takes any sequence and a function, grouping consecutive elements in the sequence by return value of the function. Here’s an example:

In [ ]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

Errors and Exception Handling

In [ ]:
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float("1.2345")
attempt_float("something")

'something'

You might want to suppress only ValueError, since a TypeError (the input was not a string or numeric value) might indicate a legitimate bug in your program. To do that, write the exception type after except:

In [ ]:
float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x