## Homework 2 - Data Collection and Descriptive Statistics
CS 133  
Spring 2025  
v1.1

---

## 1. Data Collection

1.1 (2 pts) Read the `stations.csv` file into a dataframe named `df` and display it by stating `df`.

In [3]:
import pandas as pd
df = pd.read_csv("stations.csv")
df

     Station        Date  Influx  Tickets  Pre-booked  Onspot  Revenue
0       ST01    1/1/2022    8373     2775        2407     368    13875
1       ST01    1/2/2022    6192     5854        4923     931    29270
2       ST01    1/3/2022    9111     4956        4366     590    24780
3       ST01    1/4/2022    4808      982         768     214     4910
4       ST01    1/5/2022    9646     4988        4421     567    24940
...      ...         ...     ...      ...         ...     ...      ...
3645    ST10  12/27/2022    9030     5741        4042    1699    28705
3646    ST10  12/28/2022    5537     3363        3000     363    16815
3647    ST10  12/29/2022    7556     6545        5525    1020    32725
3648    ST10  12/30/2022    7636     5813        4726    1087    29065
3649    ST10  12/31/2022    7163     4926        4250     676    24630

[3650 rows x 7 columns]

1.2 (3pts) Create a new dataframe of 1000 random samples without replacement and call the `info()` method on it.  
   _Note: When samplling, be sure to always set your random state._

In [12]:
sample_1k = df.sample( n=1000, random_state = 45)
sample_1k.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 696 to 1280
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Station     1000 non-null   object
 1   Date        1000 non-null   object
 2   Influx      1000 non-null   int64
 3   Tickets     1000 non-null   int64
 4   Pre-booked  1000 non-null   int64
 5   Onspot      1000 non-null   int64
 6   Revenue     1000 non-null   int64
dtypes: int64(5), object(2)
memory usage: 62.5+ KB

1.3 (2pts) Use the `groupby` method on the `df` dataframe to group the rows by the column `Station`. Assign the result to a variable called `stations` and show the resulting datatype.

In [15]:
stations = sample_1k.groupby('Station')
type(stations)

pandas.core.groupby.generic.DataFrameGroupBy

1.4 (2pts) Use the `Revenue` column of the `stations` object to calculate the average revenue per station.

In [17]:
stations['Revenue'].mean()

Station
ST01    19212.889908
ST02    19996.263736
ST03    18072.216981
ST04    16620.947368
ST05    16805.550000
ST06    16494.510870
ST07    15689.680851
ST08    19198.271028
ST09    17325.309278
ST10    17955.871560
Name: Revenue, dtype: float64

1.5 (3pts) Without using the `stations` object, use the original `df` to create a new dataframe that randomly samples 1 item from each station. Do not assign it to a variable so it will display.

In [23]:
df['Station']

KeyError: 'Reveneue'

1.6 (3pts) Using the original `df`, create a new dataframe named `sample_15` that is 15% as big as `df`. State the length of your new dataframe.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

1.7 (4pts) Using the original `df`, create a new dataframe that contains row 6 and every 7th row after it. Do not assign it to a variable so it will display.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## 2. Descriptive Statistics

2.1 (2pts) Find the mean for the `Revenue` column of `df` and assign a variable named `mean` to the result. State the value of `mean`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Do not edit or remove this cell

The formula for calculating the _variance_ of a dataset is $ \sum{ \frac{ (value - \mu) ^2}{n} } $ where $ \mu $ is the mean and $ n $ is the number of individuals in the population. This is the same as finding the average (mean) of $ (value - \mu)^2 $ for all values in the population.

2.2 (3pts) Using the value of `mean` you found above, and the `DataFrame.mean()` method, calculate the value of the _standard deviation_ of the 'Revenue' column of `df`. Do not assign the result to a value so it will display.
   _Note: To square a number in Python you can use `** 2` and to take the square root you can use `** 0.5`_

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

The `DataFrame.describe()` method calculates descriptive statistics for each numerical column in a DataFrame.

2.3 (1pt) Display the data type returned by the `DataFrame.describe()` method by using it on the `df` object and passing the result to `type()`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

2.4 (1pt) Call the `describe()` method on the `df` object to show the descriptive statistics.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Compare the **std** reported in the `describe()` method from the **standard deviation** you calculated above.

2.5 (2pts) Why is the std you calculated above slightly different than what's reported from pandas?

YOUR ANSWER HERE

2.6 (2pts) Modify your calculation from above so it matches the value in the `describe()` method. Be sure to display the result.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

2.7 (1pt) Run the `describe()` method on the `sample_15` dataframe you created above.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

2.8 (2pts) Subtract the results of the `describe()` method run on `df` from the results run on `sample_15`. Do not assign a variable to the result so it will display.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

2.9 (1pt) How close is the **mean** in `sample_15` to the **mean** of the complete dataset?

YOUR ANSWER HERE

2.10 (2pts) Use the `hist()` method on `df` to show the histogram for the column 'Revenue'. Select a sensible number for the `bins` parameter to give a sense of the distribution.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

2.11 (1pt) What shape does the `Revenue` distribution have?

YOUR ANSWER HERE

2.12 (3pts) Using the descriptive statistics from `describe()` you displayed above, calculate the Interquartile Range (IQR) for the `Revenue` column and display the result.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

2.13 (1pt) What does the IQR for the `Revenue` column mean?

YOUR ANSWER HERE

2.14 (3pts) If the data show that the larger the influx (number of people going through the station) the higher the number of unticketed passengers, would we be correct in concluding that fare jumpers (people who don't pay) prefer larger stations?

YOUR ANSWER HERE

---

### Submission Instructions

Be sure to ***SAVE YOUR WORK***!  

Next, select Kernel -> Restart Kernel and Run All Cells...

Make sure there are no errors.

Then submit this notebook (.ipynb) file to Canvas.